doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Upload Image
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    if isProduction
      | <%= stylesheet_link_tag "application" %>
    else
      link(rel='stylesheet', href='stylesheets/style.css')
  body
    #content
    if isProduction
      | <%= javascript_include_tag "application" %>
    else
      script(src='javascripts/bundle.js')
